papers/
latex/
datasets/
VGG/
torch/

.ipynb_checkpoints/
.vscode/
__pycache__/
test/
train/
val/
land.qgz

*.tif
satellite/
*.zip

thesisproposal/

eval/

testsetup/
models/

stuff/
dataset/
logs/

colab/

test_images/
losses/
test_eval/

*.lnk

testmodels/

results/
results4/

*.qgz

training_log*

graphs/

losses_imgs/