papers/
latex/
datasets/
VGG/
torch/

.ipynb_checkpoints/
.vscode/
__pycache__/
test/
train/
val/
land.qgz

*.tif
satellite/
*.zip

thesisproposal/

eval/

testsetup/
models/

stuff/
dataset/
logs/

colab/